html {
    height: 100%;
}
canvas[resize] {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

:root {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    font-weight: 200;
}

body::-webkit-scrollbar {
    width: 0.4rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: rgb(201, 30, 98);
}

h1, h2 {
    font-weight: 200;
}

h3 {
    font-weight: 300;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WORK PAGE STYLING */
.main-work, .main-about {
    height: 100%;
    margin-top: 2rem;
}

.horizontal-bars {
    margin-bottom: 6rem;
    overflow-x: hidden;
}

.left-bars {
    height: 100%;
    overflow: hidden;
    animation: fromLeftAnimate 1.25s ease-in-out;
}

.right-bars {
    height: 100%;
    overflow: hidden;
    animation: fromRightAnimate 1.25s ease-in-out;
    margin: 2rem 0;
}

.right-bars svg, .left-bars svg {
    display: block;
    width: 5rem;
    margin: 1rem auto;
}

.arrow-color {
    fill: white;
}
 
div.shared svg {
    transition: 400ms ease;
}

.arrow-color:hover {
    fill: black;
}

.left-bars h2, .right-bars h2 {
    text-align: center;
    color: white;
}

.hidden {
    height: 0;
    opacity: 0;
    display: block;
    transition: height 500ms ease-in-out, opacity 400ms ease-in;
}

.show {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.expander {
    transform: rotateX(0deg);
    transition: transform .5s ease;
}

.arrows {
    transform: rotateX(180deg);
}

.shared {
    background-color: rgba(0, 128, 128, 0.9);
}

.text-card a {
    text-decoration: none;
}

.button {
    display: inline-block;
    width: 10rem;
    padding: 0.5rem 0;
    text-align: center;
    background: black;
    border: 1px solid white;
    color: white;
    transition: background 500ms ease, color 500ms ease, border 100ms ease;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.button:hover {
    background: white;
    color: black;
    border: 1px solid black;
}



@keyframes fromLeftAnimate {
    from {margin-right: 100%;}
    to {margin-right: 0%;}
}

@keyframes fromRightAnimate {
    from {margin-left: 100%;}
    to {margin-left: 0%;}
}

/* START OF NAV STYLING */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 800ms ease, height 800ms ease;
    overflow: auto;
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.logo {
    margin-bottom: 1rem;
    background: var(--bg-secondary);
    width: 100%;
}

.logo svg {
    transform: rotateY(180deg);
    transition: transform 600ms ease;
}

.hover:hover .logo svg {
    transform: translateX(3.25rem) rotateY(0deg);
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    text-transform: uppercase;
}

.logo-text {
    margin-left: 1.75rem;
}

.nav-link svg {
    width: 2rem;
    margin: 0 1.5rem;
    fill: white;
}

.fa-primary {
    color: darkgray;
}

.fa-secondary {
    color: white;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.selected {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

/* END OF NAV STYLING */
.welcome-heading, .welcome-info {
    display: block;
    text-align: left;
    width: 95%;
    margin: 1rem auto;
}

.welcome-heading {
    color: teal;
}

.welcome-info {
    color: grey;
    font-size: 1.25rem;
    margin-top: -1rem;
}

.nav-link svg.teal-color {
    fill: teal;
}

.welcome-text {
    background-color: rgba(255,255,255,0.9);
    border: 1px solid teal;
    padding: 0 2rem 1rem 2rem;
}

#welcome {
    color: black;
}

.title h1 {
    font-size: 3rem;
    text-align: left;
    width: 30%;
    margin: 2rem auto 2rem 2rem;
    color: black;
    padding: 0.5rem 1.5rem;
}

.main-about {
    height: 100%;
    margin-top: 2rem;
    padding-bottom: 8rem;
}

.gap {
    display: block;
    height: 3rem;
}

.about-text {
    padding: 4rem 0;
}

.about-text p {
    font-size: 1.5rem;
    width: 85%;
    margin: auto;
    padding: 1rem;
    background: white;
}

.shadow {
    text-shadow: 2px 2px teal;
}

.box-shadow {
    box-shadow: 6px 9px 10px rgb(50, 49, 49);
}

.about-link {
    cursor: pointer;
    color: teal;
    transition: color 200ms ease;
}

.about-link:hover {
    color: grey;
}

p.box-shadow span a {
    text-decoration: none;
    color: teal;
    transition: color 200ms ease;
}

p.box-shadow span a:hover {
    color: grey;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* padding-top: 50px; */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 85%;
  overflow: auto;
}

.modal-content img {
    width: 100%;
    height: auto;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 0.15rem;
  left: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}



/* FADE OUT & FADE IN ANIMATIONS */
.animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }

 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

/* SMALL SCREENS */
@media only screen and (max-width: 720px) {
    .main {
        height: calc(100vh - 5rem);
        margin-bottom: 5rem;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .welcome-text {
        padding: 0 0.35rem 1rem 0.35rem;
        margin-bottom: 5rem;
    }

    .welcome-heading {
        line-height: 2.75rem;
    }

    .horizontal-bars {
        margin-bottom: 8rem;
    }

    .horizontal-bars h2 {
        font-size: 2rem;
    }

    .card {
        flex-direction: column;
        justify-content: flex-start;
    }

    .design-image {
        height: 100%;
        background: white;
        padding: 3rem 1rem;
    }

    .card img {
        width: 60%;
        margin: 0 20%;
        background: white;
    }

    .sm-design img {
        width: 90%;
        margin: 0 5%;
    }

    .text-card {
        text-align: left;
        background: rgb(244, 244, 244);
        padding: 0 1rem;
    }

    .modal-content {
        height: auto;
        margin: 7rem auto auto auto;
    }

    .close {
        top: -5px;
        right: 10px;
    }
}

/* LARGE SCREENS */
@media only screen and (min-width: 720px) {
    .main {
        width: 100%;
    }

    .welcome-heading {
        font-size: 3rem;
    }

    .welcome {
        min-width: 455px;
    }

    .welcome-heading {
        line-height: 3.75rem;
    }

    .navbar {
        top: 0;
        right: 0;
        width: 5rem;
        height: 5rem;
    }

    .hover:hover {
        width: 12rem;
        height: 100vh;
    }

    .navbar:hover .link-text {
        display: inline;
        transition: opacity 600ms ease;
    }

    .horizontal-bars h2 {
        font-size: 2.5rem;
    }

    .card {
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
    }

    .card img {
        height: 15rem;
        background: white;
        padding: 3rem;
        margin-bottom: -5px;
    }

    .text-card {
        text-align: left;
        background: rgb(244, 244, 244);
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1rem;
    }

    .modal-content {
        margin: 4rem auto auto auto;
    }
}